<div class="jumbotron">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">Jot down ideas for your next Youtube videos.</p>
    <hr class="my-4">
    
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/ideas/add" role="button">Add video Idea</a>
    </p>
</div>